*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
   --primary-color: dodgerblue;
   background-color: rgb(12, 1, 14);
   color: gainsboro;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


/* IMAGES */
img{
    width: 100%;
    height: auto;
}

.logo-image{
    max-width: 10em;
}

.logo-image{
    max-width: 5em;
}

.hero-image{
    max-width: 25em;
    display: block;
}

/* SECTIONS */
section{
    margin: 0em 1em;
    min-height: 60vh;
}

.span-identifier{
    padding: 4px 20px;
    border: 1px solid white;
    border-radius: 2em;
color: brown;
}



/* HEADER SECTION */

header{
    background-image: linear-gradient(rgba(204, 1, 255, 0.269), rgb(12, 1, 14));
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

header nav{
    display: flex;
    gap: 3em;
}

header nav ul {
    display: flex;
    gap: 3em;
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color: gainsboro;
    transition: color 1s;
}

header nav ul li a:hover{
    color: dodgerblue;
}

header .nav-btn{
    padding: 5px;
    width: 10em;
    height: 2.2em;
    /* background-color: ; */
    font-weight: bold;
    color: purple;
}

header nav {
    align-items: center;
}

.logo-container{
    display: flex;
    gap: 1em;
    align-items: center;
}



/* HERO SECTION */
.hero-section{
    padding-top: 3em;
}

.hero-container{
    display: flex;
    justify-content: space-around;
}

.hero-textual h1{
    padding-bottom: 0.51em;
    font-size: 3em;
}

.hero-textual button{
    padding: 6px;
    width: 20em;
    margin: 2em 0em;
    font-weight: bold;
    font-size: 1.3em;
    color: purple;
}

.hero-textual  .hero-play{
    width: 15px;
    height: 15px;
    padding: 12px;
    border-radius: 50%;
    background: purple;
}

@media(max-width:900px){
    header nav {
    display: none;
}

.hero-container{
    flex-direction: column;
}
}


/* TRUSTED BY SECTION */
.trusted-by-section{
    background-color: rgba(12, 1, 51, 0.356);
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    overflow: hidden;
    left: 0;
}

.trusted-by-section h1{
    text-align: center;
    font-size: 3em;
    color: rgb(255, 193, 255);
}


/* WHY CHOOSE US SECTION */
.why-us-section{
    margin: 5em 1em 0em 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: space-between; */
    gap: 2em;
    /* align-items:start; */
}

.why-us-image{
    max-width: 40em;
    border-radius: 10px;
    max-height: 40em;
}

.why-us-details{
    margin-top: 2em;
}

.why-us-details-card{
    padding: 1em;
    border: 1px solid rgba(128, 0, 128, 0.418);
    border-radius: 10px;
    margin-top: 10px;
    transition:   transform 1s;
    background-color: rgba(255, 255, 255, 0.057);
    backdrop-filter: blur(15px);
}

.why-us-details-card:hover{
    transform: translatex(3px);
}

.why-choose-us-textual h1{
    margin: 1em 0em;
    font-size: 3em;
    color: rgb(254, 208, 254);
}


/* COURSES SECTION */
.courses-section{
    margin: 8em 1em 0em 1em;
}

.courses-header{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0em;
}

.courses-header input{
    padding: 8px;
    background-color: transparent;
    border: 1px solid purple;
    width: 30em;
    border-radius: 20px;
}

.courses-header button{
    padding: 8px;
    background-color: purple;
    color: white ;
    border: none;
    border-radius: 20px;
    width: 10em;
}

.courses-container{
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1em;
}

.course-card{
    background-color: black;
    border: 1px solid gray;
    border-radius: 10px;
}

.courses-image{
    width: 100%;
    height: auto;
    min-height: 15em;

    border-radius: 10px 10px 0px 0px;
    display: block;
    background-color: rgb(42, 33, 51);
    /* width: 200px; */
}

.courses-card-details{
    padding: 2em 1em 1em 1em;
}

/* HOW IT WORKS SECTION */

.how-it-works-section{
    margin-top: 8em;
}

.how-it-works-section .section-header{
    text-align: center;
}

.how-it-works-timeline{
    width: 100%;
    background-color: white;
    height: 2px;
    z-index: -10;
    position: absolute;
    margin-top: 2em;
    /* margin: 2em; */
}

.how-it-works-container{
    display: flex;
    justify-content: space-around;
    margin: 4em 0em;
}


.how-it-works-card{
    background-color: violet;
    width: 15em ;
    height: 4em;
}



/* CALL TO ACTION SECTION */


.call-to-action-section{
    background-color: black;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 6em;
    /* transition: border 1.5s; */
    border: 1px solid purple;
    text-align: center;
    padding-top: 3em;
}


/* FOOTER */
footer{
    background-color: rgba(0, 0, 0, 0.299);
    min-height: 80vh;
    box-shadow: 1px 1px 10em rgba(128, 0, 128, 0.395);
    padding-top: 1em;
    transition: box-shadow 1s;
}

footer:hover{
    box-shadow: 1px 1px 10em purple;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}